html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  width: 100%;
  padding: 0 4.8rem;
  z-index: 1000;
  top: 0;
  position: fixed;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.logo {
  height: 7rem;
  width: auto;
  padding-left: 2rem;
}

.list-menu-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: transparent;
  padding: 2.4rem 2.4rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 50vh;
}

.menu-link:link,
.menu-link:visited {
  display: inline-block;
  text-decoration: none;
  /* color: #333; */
  font-weight: 700;
  font-size: 2rem;
  /* transition: all 0.3s; */
  transition: color 0.3s ease, transform 0.3s ease;
  color: #fff; /* White color for better contrast on dark images */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  position: relative;
}

.menu-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* ban đầu không hiển thị */
  height: 2px; /* độ dày underline */
  background: linear-gradient(
    90deg,
    #b19cd9 0%,
    /* tím lavender Huế */ #8e44ad 50%,
    /* tím đậm */ #5d3fd3 100% /* deep purple */
  );
  transition: width 0.4s ease;
}

.menu-link.active_menu {
  background: linear-gradient(
    90deg,
    #b19cd9 0%,
    /* tím lavender Huế */ #8e44ad 50%,
    /* tím đậm */ #5d3fd3 100% /* deep purple */
  ); /* màu nền giống Home */
  padding: 0.6rem 1.6rem; /* giống kích thước nút Home */
  border-radius: 50vh; /* bo tròn */
  border: none; /* viền cùng màu nền */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.menu-link.active_menu:hover {
  color: #fff; /* Giữ nguyên màu chữ */
  box-shadow: 0 0 10px rgba(93, 63, 211, 0.8), 0 0 20px rgba(177, 156, 217, 0.8);
  animation: glowPulse 3s infinite alternate;
}

/* Animation phát sáng */
@keyframes glowPulse {
  0% {
    box-shadow: 0 0 10px rgba(93, 63, 211, 0.8),
      0 0 20px rgba(177, 156, 217, 0.8);
  }
  100% {
    box-shadow: 0 0 20px rgba(93, 63, 211, 1), 0 0 40px rgba(177, 156, 217, 1);
  }
}

.menu-link.active_menu::after {
  display: none; /* Ẩn gạch underline khi hover */
}

.menu-link:hover::after {
  width: 100%;
}

.menu-link:hover {
  color: #5d3fd3; /* đồng bộ text màu tím đậm */
}
/* thêm */
.header-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
/* Class mới cho trạng thái active có gạch chân */
.menu-link-active-underline {
  /* Đổi màu chữ giống màu hover */
  color: #5d3fd3 !important;
}

.menu-link-active-underline::after {
  /* Hiển thị gạch chân */
  width: 100% !important;
}
