
.craft-section p{
  text-transform: uppercase;

  text-align: center;
  margin-bottom: 30px;
}

.title {
  color: black;
  font-size: 2.6em;
  margin: 30px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper-craft {
  position: relative;
  width: 100%;
  height: 100%;
  /* padding: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 1200px;
  gap: 24px;
 margin: 0 auto;
}

.card {
  position: relative;
  width: 325px;
  height: 450px;
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #3B1C8E ;
}

.poster {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.poster::before {
  content: "";
  position: absolute;
  bottom: -45%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
}

.card:hover .poster::before {
  bottom: 0;
}

.poster img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.card:hover .poster img {
  transform: scale(1.1);
}

.details {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5em 1.5em 2em;
  background: #000a;
  backdrop-filter: blur(16px) saturate(120%);
  transition: 0.3s;
  color: #fff;
  z-index: 2;
}

.card:hover .details {
  bottom: 0;
}

.details h1,
.details h2 {
  font-weight: 700;
}

.details h1 {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.details h2 {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 10px;
  opacity: 0.6;
}

.details .tags {
  display: flex;
  gap: 0.375em;
  margin-bottom: 0.875em;
  font-size: 0.85em;
}

.details .tags span {
  padding: 0.35rem 0.65rem;
  color: #fff;
  border: 1.5px solid rgba(255 255 255 / 0.4);
  border-radius: 4px;
  border-radius: 50px;
}

/* chỉnh lại tags */
.details .padd span {
  padding: 0.3rem 0.6rem !important;
}
.details .padds span {
  padding: 0.2rem 0.5rem !important;
}

.details .desc {
  color: #fff;
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 1em;
  text-align: left;
  text-transform: none;
}
