body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    margin: 0px auto;
    padding: 0;
    /* max-width: 1200px; */
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    height: auto;
    position: relative;
    pointer-events: all; 
} 

html {
  scroll-behavior: smooth;
}
#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
   display: none;/* Ẩn khi chưa scroll */
  transition: opacity 0.3s ease;
}

#backToTop:hover {
  background-color: #555;
}

.amthuc{
  height: 500px;
  background-color: #555;
}

.nghethuat{
  height: 500px;
  background-color: antiquewhite;
}