body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    margin: 0 auto;
    padding: 0;
    border: 1px solid #333;
    width: 1200px;
}
.header{
  border: 1px solid #333;
  height: 50px;
  display: flex;
  justify-content:space-between;
  gap: 25px;
  padding: 0;
  margin-bottom: 10px;
}
.logo{
  /* width:100%;
  height: 100%; */
  padding-left: 50px;

}
.logo img{
  width: 100%;
  height: 100%;
}
.list_menu ul{
  list-style: none;
  display: flex;

}
.list_menu li{
  margin: auto 0;
  padding: 0 30px;
  text-transform: uppercase;
  font-weight: bold; 
 
}

a {
  display: inline-block; 
  text-decoration: none;
  font-size: 18px;
  transition: transform 0.3s ease;
}

a:hover {
  transform: scale(1.2); 
  opacity: 0.5;
}

.banner video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

